<!-- main/templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block content %}
  <h2>Welcome, {{ user.username }}!</h2>
  <ul>
    <li><a href="{% url 'credit_ewallet' %}">Credit E-Wallet</a></li>
    <li><a href="{% url 'check_balance' %}">Check E-Wallet Balance</a></li>
    
    <li><a href="{% url 'enter_toll_fee' %}">enter-toll-fee</a></li>
    <li><a href="{% url 'transaction_history' %}">View transaction_history</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
{% endblock %}
